* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.feedback img {
    object-fit: contain;
    height: 40px;
    width: 40px;
}

#mybutton {
    position: fixed;
    bottom: 30px;
    right: 50px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}